:root{
    --black:#060608;
    --white:#fdfdfd;
    --white-border: rgba(253, 253, 253, 0.2);
    --white-background: rgba(253, 253, 253, 0.9);
    --message-background: linear-gradient(to right, #ff9c00, #ff8c00,#ff7c00);
    /* --message-background-right: linear-gradient(to right, #ff0000,#ff7c00); */
    --message-background-right: linear-gradient(to right, #ff0000,#ff0000);
    --chat-text: rgba(0,0,0,1);
    --profile-round-border: radial-gradient(circle, #dc0d3a, #e23131, #e74928, #ea5d1e, #eb7012);
}

body{
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
    width: 99vw;
    font-family: 'Open Sans', sans-serif;
}

.Main-container{
    border: solid 1px var(--white-border);
    height: 97.5vh;
    margin: 0.5%;
    width: 100%;
}

.Header{
    align-items: center;
    border-bottom: solid 1px var(--white-border);
    display: flex;
    height: 8.5%;
    justify-content: space-between;
    width: 100%;
}

.profile{
    margin-right: 5%;
}

#logo{
    transform: scale(0.3);
    position: relative;
    right: 5%;
}

.Body{
    display: flex;
    height: calc(92% - 1%);
    margin: 0.5%;
    margin-top: 0;
    margin-bottom: 0;
}

.Side-nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 3%;
    margin-right: 0.5%;
}

.Chat-list{
    border-left: solid 1px var(--white-border);
    border-right: solid 1px var(--white-border);
    display: flex;
    flex-direction: column;
    margin: 0.1%;
    width: 20%;
}

.Chat-header{
    margin: 1% auto;
    width: 98%;
    height: 5%;
    display: inline-flex;
    align-items: center;
}

.Chat-header p{
    margin-left: 5%;
    font-size: 2vw;
    font-family: 'Merriweather', serif;
}

.Chat{
    width: 99%;
    margin-top: 1%;
    border: solid 0.5px var(--white-border);
}

.Chat-item{
    align-items: center;
    display: flex;
    height: 10vh;
    margin: 1% auto;
    width: 98%;
}

.chat-content{
    margin-left: 5%;
}

.Chats{
    overflow-y: scroll;
}

.chat-active{
    background-color: rgba(128, 128, 128, 0.2);
}

.Chats::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.Chats::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5px;
}
  
.Chats::-webkit-scrollbar-button {
    display: none;
}

#username{
    font-size: 1.4vw;
    line-height: 0.5vw;
    font-weight: 900;
}

#chat-preview{
    font-size: 1.2vw;
    line-height: 1vw;
    text-wrap: wrap;
}

.Chat-container{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 77%;
    height: 100%;
}

#chat-search-bar{
    margin: 1% auto !important;
    width: 98%;
}

#search{
    margin: 1% 2%;
}

.Icon{
    display: flex;
    height: 10%;
    justify-content: center;
    margin: 1%;
    width: 100%;
}

.Icon-items{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.Icon-items p{
    display: none;
    font-size: 0.75vw;
    font-weight: bolder;
    margin-top: 20%;
}

.Icon-items > *:hover{
    cursor: pointer;
}

.customise{
    align-items: flex-end;
    justify-content: end;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.Message-header{
    align-items: center;
    border-bottom: solid 1px var(--white-border);
    display: flex;
    width: 100.5%;
}

.Message-header > img{
    margin-left: 1%;
}

.Message-header p{
    margin-left: 1%;
    font-size: 1.3vw;
}

.Messages{
    display: flex;
    flex-direction: column;
}

.Messages p{
    background-image: var(--message-background);
    border-radius: 50px;
    display: block;
    color: var(--chat-text);
    height: max-content;
    margin: 3% 1%;
    width: max-content;
    max-width: 50%;
    padding: 0.5%;
    text-wrap: wrap;
    position: relative;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.55vw;
    padding: 0.8vw;
}

.Messages-container{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.Messages-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border: solid 0.5px var(--white-border);
    border-radius: 5px;
}
  
.Messages-container::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5px;
}

.Messages-container::-webkit-scrollbar-button {
    display: none;
}

.Message-input{
    margin: auto 1%;
    display: flex;
}

.Message-input input{
    border-radius: 5px;
    background-color: var(--black);
    border: solid 0.5px var(--white-border);
    color: var(--white);
    caret-color: var(--white);
    font-size: 1.3vw;
    height: 2.5vw;
    margin: 1% 0;
    padding-left: 1%;
    width: 100%;
    outline: none;
}

.Message-input input:focus{
    border: solid 1px rgba(255, 28, 0, 0.8);
}

.Message-input input::placeholder{
    color: var(--white);
    opacity: 0.8;
}

.Input-icons{
    display: flex;
    position: absolute;
    right: 5%;
    bottom: 3.5%;
}

.Input-icons > *{
    margin: 0 10%;
}
